/*头部部分*/
body{-webkit-text-size-adjust: none;font-family: "microsoft yahei";}
.clear{clear: both;}
.dl-horizontal>dt{ text-align: left;color: #009dfb;font-weight: 500;font-size: 16px;}
a:hover{text-decoration: none;}
html,body{-webkit-text-size-adjust: none;}
.textColor-ff8376{color: #FF8376;}
.fmt{margin-top: 20px !important;}
.bg-ff5842{background-color: #FF5842 !important;color: #F8F8F8;}
.bdR{border-right: darkgrey solid 2px;display: inline-block;float: left;}
.bdR>h3{margin-top: 10PX}
.navbar-form .form-control {height: auto;}
.clearMarginT{margin-top: 0}
.clearPaddingL{padding-left: 0}
.first-navbar{min-height: 50px;line-height: 50px;}
.navbar{min-height: 5px;}
.navbar-inverse{border:none !important;border-radius: 0 !important;background-color: #FF5842 !important;background-image: none !important;}
.navbar-nav>li>a{color:#ffffff !important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color: #ff5842 !important;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color: #f24933 !important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{background-image: none !important;}
.first-navbar,.second-navbar{min-height: 70px;line-height: 70px;}
.first-navbar li a,.second-navbar li a{padding: 0 10px !important;font-size: 16px;}
.first-navbar li:first-child a,.second-navbar li:first-child a{padding-left: 0 !important}
.first-navbar>li>a:hover,.second-navbar>li>a:hover{color: #F24933 !important;}
.first-navbar>.active>a,.second-navbar>.active>a{color: #F24933 !important;background: none !important;box-shadow: none !important;}
.second-navbar{padding-left:15px;background-color: #ffffff;display: none;border-bottom: #E4E4E4 solid 1px}
.second-navbar li a{text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);}
/* 主体部分 */
/*第一部分*/
.fr1 .thumbnail{
  position:relative;
  overflow: hidden;
  border: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}
.form-control{height: 40px;border-radius: 0}
.btn-style{background-color: #FF8376;padding: 10px 30px ;color: #FFFFFF;display: inherit;border-radius: 0}
.btn-style:hover{color: #ffffff;background-color: #FF5842}
/*Footer*/
.bg-footer{background: url(../img/bg-footer.png) center center repeat;color: #FFFFFE;margin-top: 20px;}
.bg-footer1{background: url(../img/bg-footer1.png) center center repeat;color: #FFFFFE;padding: 5px 0;}
.bg-footer1 .thumbnail{border-bottom: none !important;margin-bottom: 0;border: none;}
@media (min-width: 768px){
	.dl-horizontal dt {
    float: left;
    width: 50%;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: none;
    
	}
	.dl-horizontal{
		margin-bottom: 10px !important;
	}
}